@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


.snap-scroll::-webkit-scrollbar {
  width: 8px; /* Atur lebar sesuai selera */
  background: transparent;
}

.snap-scroll::-webkit-scrollbar-thumb {
  background: #2226;      /* Transparan */
  border-radius: 8px;
}

.snap-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2226 transparent;
}